/chriper/.phpunit.cache
/chriper/hnode_modules
/chriper/public/build
/chriper/public/hot
/chriper/public/storage
/chriper/storage/*.key
/chriper/vendor
/chriper/.env
/chriper/.env.backup
/chriper/.env.production
/chriper/.phpactor.json
/chriper/.phpunit.result.cache
/chriper/Homestead.json
/chriper/Homestead.yaml
/chriper/auth.json
/chriper/npm-debug.log
/chriper/yarn-error.log
/chriper/.fleet
/chriper/.idea
/chriper/.vscode
